<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas del usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="./css/formulario.css">
</head>
<style>
    #wrapper {
  text-align:center;
  border:1px solid #7F7F7F;
  width:150px;
  margin:25px auto;
  padding:25px;
  background-color:#E3E4E4;
}

#myTimer {
  font:64px Tahoma bold;
  padding:20px;
  display:block;
}

button {
  width:125px;
  padding:10px;
}

.btnEnable {
  background-color:#E6F9D2;
  border:1px solid #97DE4C;
  color:#232323;
  cursor:pointer;
}

.btnDisable {
  background-color:#FCBABA;
  border:1px solid #DD3939;
  color:#232323;
  cursor:wait;
}


</style>
<body>

    <div class="wrapper wrapper--w780 my-4">
        <a href="/principal" class="mb-3 btn btn-secondary" style="float: left;">Regresar</a> 

        {{#if reservas}}

        <table class="table text-center" id="reservas_table">
            <thead class="bg-primary" style="color: white;">
                <tr>
                <th scope="col">#</th>
                <th scope="col" onclick="sortTable(0)">
                    <div class="div_header">
                        Asignatura 
                        <i id="sort_asign" class="pl-2 fa fa-sort-asc sort sort-asc" aria-hidden="true"></i>
                    </div>
                </th>
                <th scope="col" onclick="sortTable(1)">
                    <div class="div_header">
                        Fecha
                        <i id="sort_date" class="pl-2 fa fa-sort-asc sort sort-asc" aria-hidden="true"></i>
                    </div>
                </th>
                <th scope="col" onclick="sortTable(2)">
                    <div class="div_header">
                        Hora
                        <i id="sort_time" class="pl-2 fa fa-sort-asc sort sort-asc" aria-hidden="true"></i>
                    </div>
                </th>
                <th scope="col">Id Reserva</th>
                <th scope="col">Acceder</th>
                <th scope="col">Cancelar</th>
                </tr>
            </thead>
            <tbody>
                {{#each reservas}}
                <tr>
                    <th scope="row">{{formatIndex @index}}</th>
                    <td>{{ this.room_name }}</td>
                    <td>{{ this.date }}</td>
                    <td>{{ this.time }}</td>
                    <td>{{ this.id }}</td>
                    <button id="getData_{{formatIndex @index}}" onclick="myTimer('{{this.room_name}}' , '{{this.id}}', '{{this.date}} {{this.time}}')" hidden>Prueba</button>
                    <td id="access-btn-{{formatIndex @index}}"> 
                        {{!-- {{#if bool}} --}}
                        <a href="/links/download/{{this.room_name}}" download>
                            <button class="btn btn-acceder" id="{{this.room_name}}_{{this.id}}" hidden>Acceder</button>
                        </a>
                        {{!-- {{/if}} --}}
                        {{!-- <a href="../../public/img/gestion.png" download="">jejeje</a> --}}
                    </td>
                    {{!-- {{ this.user }} --}}
                    <td> <a href="/delete/{{this.id}}/{{this.user}}" class="btn btn-danger">Cancelar</a> </td>
                </tr>
        
                {{/each}}
                
            </tbody>
        </table>
         {{else}}
            <div class="container p-4">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                                <h3>No hay ningún laboratorio reservado {{user.fullname}}</h3>
                                <h4>{{user.username}}</h4>
                                <a href="/disponibilidad_reserva" class="btn btn-primary m-4">Realizar Reservas de Laboratorios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>

</body>
<script>

    const cant = [ {{#each reservas}} "{{this}}", {{/each}} ];

    window.onload = function myFunction() {
        for(let i=1; i<=cant.length; i++){
            document.getElementById("getData_"+i).click();
        }
    }
    
    function myTimer(room_name, id_lab, start) {

        let id = room_name+"_"+id_lab;
        console.log("id "+id);
        let start_time = new Date(start);
        let end_time = new Date(start);
        end_time.setMinutes(end_time.getMinutes()+21);
        console.log("Start Time: ", start_time);
        console.log("End Time: ", end_time);

        var today = new Date();
        //var d2 = new Date();
        //var d3 = new Date();
        
        //d2.setHours(11, 20, 00);
        //d3.setHours(13, 12, 00);
        

        if(today.getTime() >= start_time.getTime() && today.getTime() <= end_time.getTime()){
            document.getElementById(id).disabled = false;
            document.getElementById(id).hidden = false;
        }else{
            document.getElementById(id).disabled = true;
            document.getElementById(id).hidden = true;
        }
    }

    function sortTable(n) {
        var table, rows, switching, i, first_td, sec_td, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("reservas_table");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                first_td = rows[i].getElementsByTagName("Td")[n];
                sec_td = rows[i + 1].getElementsByTagName("Td")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (first_td.innerHTML.toLowerCase() > sec_td.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        console.log("Order ASC");

                        let id = document.getElementsByClassName("sort")[n].id;
                        document.getElementById(id).className = "pl-2 fa fa-sort-desc sort sort-desc";
                        shouldSwitch= true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (first_td.innerHTML.toLowerCase() < sec_td.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        console.log("Order DESC");
                        let id = document.getElementsByClassName("sort")[n].id;
                        document.getElementById(id).className = "pl-2 fa fa-sort-asc sort sort-asc";
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount ++;      
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
</html>